:root {
  /* COLORS */
  --color-bg-main: #141922;
  --color-bg-player: #282828;
  --color-bg-sidebar: #000;
  --color-bg-user: #808080;
  --color-text-primary: #fff;
  --color-text-secondary: #717171;
  --color-spotify: #adff2f;
  /* SIZES */
  --h-player: 90px;
  --h-header: 90px;
  --h-logo: 90px;
  --h-nav: 120px;
  --h-user: 90px;
  --w-sidebar-extended: 230px;
  --w-sidebar-collapsed: 45px;
  --w-logo: 140px;
  /* GAPS */
  --gap-cards: 1rem;
}

/* debug */
.debug {
  border: 1px solid yellow;
  min-height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'CircularStd';
  font-weight: 100;
  --scrollbar-width: calc(100vw - 100%)
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text-secondary);
}

hr {
  border-color: var(--color-text-secondary);
}

button {
  cursor: pointer;
}

/* UTILS */
.wrapper {
  height: calc(100vh - var(--h-player));
  color: var(--color-text-primary);
}

.row {
  display: flex;
  height: 100%;
}

.col {
  width: 100%;
}

.col.col-side {
  width: var(--w-sidebar-extended);
  flex-shrink: 0;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.p-1 {
  padding: 1rem;
}

.px-sm {
  padding-inline: 0.5rem;
}

.px-1 {
  padding-inline: 1rem;
}

.px-2 {
  padding-inline: 2rem;
}

.py-sm {
  padding-block: 0.5rem;
}

.py-1 {
  padding-block: 1rem;
}

.my-sm {
  margin-block: 0.5rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.text-sm {
  font-size: 0.9rem;
}

.text-md {
  font-size: 1.2rem;
}

.text-lg {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.color-primary {
  color: var(--color-text-primary);
}

.color-secondary {
  color: var(--color-text-secondary);
}

.circle {
  border-radius: 50%;
}

/* COMPONENTS */
.btn {
  border: 1px solid var(--color-text-primary);
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  color: var(--color-text-primary);
  font-size: 0.9rem;
}

.btn.btn-big {
  padding: 15px 30px;
  border-radius: 25px;
}

.btn.btn-big:hover {
  scale: 1.1;
}

.slider {
  flex-grow: 1;
  flex: 1;
  height: 5px;
  background-color: var(--color-text-secondary);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.slider-inner {
  height: 100%;
  width: 20%;
  position: absolute;
  background-color: var(--color-text-primary);
  border-radius: 10px;
}

.slider-inner .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  right: -4.5px;
  top: -4.5px;
  display: none;
}

.slider:hover .slider-inner {
  background-color: var(--color-spotify);
}

.slider:hover .slider-inner .circle {
  display: block;
}

/* MAIN */
main {
  background-color: var(--color-bg-main);
  height: 100%;
  padding-top: var(--h-header);
  overflow: auto;
}

header {
  height: var(--h-header);
  opacity: .8;
  background-color: var(--color-bg-sidebar);
  position: fixed;
  width: calc(100% - (var(--w-sidebar-extended) + var(--scrollbar-width)));
  top: 0;
  right: var(--scrollbar-width);
}

main .container .row {
  gap: var(--gap-cards);
  flex-wrap: wrap;
}

main .container .col {
  --n-col: 6;
  flex-basis: calc((100% + var(--gap-cards)) / var(--n-col) - var(--gap-cards));
}

/* PLAYER */
.player {
  background-color: var(--color-bg-player);
  height: var(--h-player);
  display: flex;
  justify-content: space-between;
}

.player-info,
.player-volume {
  flex-basis: 240px;
}

.player-info>img {
  max-width: 45px;
  max-height: 45px;
}

.player-info button:hover {
  color: var(--color-text-primary);
}

.player-main {
  flex-basis: 40%;
}

.player button {
  background: none;
  border: none;
}

.player-main-top {
  height: 60%;
}

.player-main-bottom {
  height: 40%;
}


/* SIDEBAR */
.sidebar {
  background-color: var(--color-bg-sidebar);
  height: 100%;
}

.sidebar .icon {
  display: inline-block;
  width: 23px;
  aspect-ratio: 1 / 1;
}

.sidebar .icon img {
  filter: brightness(50%);
}

.sidebar .logo {
  height: var(--h-logo);
}

.sidebar .logo img {
  max-width: var(--w-logo);
}

.sidebar nav {
  height: var(--h-nav);
}

.sidebar nav ul {
  height: 100%;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar ul li:hover a {
  color: var(--color-text-primary);
}

.sidebar ul li:hover img {
  filter: brightness(100%);
}

.sidebar .user {
  height: var(--h-user);
}

.sidebar .playlists {
  height: calc(100% - (var(--h-logo) + var(--h-nav) + var(--h-user)));
  overflow: auto;
}

.sidebar .playlists ul li:first-child {
  font-size: 1.1rem;
}

.sidebar .playlists ul li:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\2b';
  color: var(--color-text-secondary);
}

.sidebar .playlists ul li:first-child:hover::before {
  color: var(--color-text-primary);
}

.sidebar .icon.icon-user {
  background-color: var(--color-bg-user);
  width: 25px;
  height: 25px;
  text-align: center;
}

.sidebar .icon.icon-user img {
  filter: brightness(200%);
  width: 20px;
  height: 20px;
}

.sidebar .icon.icon-download {
  width: 20px;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
}


@media screen and (max-width: 1100px) {
  main .container .col {
    --n-col: 4;
    flex-basis: calc((100% + var(--gap-cards)) / var(--n-col) - var(--gap-cards));
  }
}

@media screen and (max-width: 700px) {
  main .container .col {
    --n-col: 2;
    flex-basis: calc((100% + var(--gap-cards)) / var(--n-col) - var(--gap-cards));
  }
}

@media screen and (max-width: 600px) {
  .p-xs-0 {
    padding: 0;
  }

  .px-xs-sm {
    padding: 0 .6rem;
  }

  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }

  .col.col-side {
    width: var(--w-sidebar-collapsed);
  }

  .sidebar .playlists {
    opacity: 0;
  }

  .sidebar nav ul {
    align-items: center;
  }

  .text-xs-sm {
    font-size: .9rem;
  }

  .text-xs-md {
    font-size: 1.2rem;
  }

  .px-xs-sm {
    padding-inline: 0.5rem;
  }

  header {
    width: calc(100% - (var(--w-sidebar-collapsed) + var(--scrollbar-width)));
  }
}

@media screen and (max-height: 390px) {
  .sidebar .user {
    display: none;
  }

  .sidebar {
    overflow: hidden;
  }
}