:root {
  /* COLORS */
  --color-bg-main: #141922;
  --color-bg-player: #282828;
  --color-bg-sidebar: #000;
  --color-text-primary: #fff;
  --color-text-secondary: #717171;
  /* SIZES */
  --h-player: 90px;
  --w-sidebar-extended: 200px;
  --w-sidebar-collapsed: 45px;
}

/* debug */
.debug {
  border: 1px solid yellow;
  min-height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'CircularStd';
  font-weight: 100;
}

.container {
  height: calc(100vh - var(--h-player));
  color: var(--color-text-primary);
}

.row {
  display: flex;
  height: 100%;
}

.col {
  width: 100%;
}

.col.col-side {
  width: var(--w-sidebar-extended);
}

main {
  background-color: var(--color-bg-main);
  height: 100%;
}

.player {
  background-color: var(--color-bg-player);
  height: var(--h-player);
  display: flex;
  justify-content: space-between;
}

.player-info,
.player-volume {
  flex-basis: 240px;
}

.player-main {
  flex-basis: 40%;
}

.sidebar {
  background-color: var(--color-bg-sidebar);
  height: 100%;
}

.sidebar .logo {
  height: 70px;
}

.sidebar nav {
  height: 120px;
}

.sidebar .user {
  height: 90px;
}

.sidebar .playlists {
  height: calc(100% - (70px + 120px + 90px));
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .col.col-side {
    width: var(--w-sidebar-collapsed);
  }

  .sidebar .playlists {
    opacity: 0;
  }
}